body{
    margin:0%;
    padding: 0%;
    
}
.container{
    margin:auto;
   
}
.img{
    max-width:600px;
    height: 600px;
    background-image:
    linear-gradient(to right, rgba(245, 246, 252, 0.52), rgb(207, 100, 118)),
    url('product1.jpg');
    background-size: cover;
}
.demo{
    float:right;
    margin-right: 200px;
    margin-top: -500px;
}

label{
    text-align: center;
    color:rgb(255, 17, 57);
    font-size: 15px;
    font-style: bold;
}
input[type=email]{
    margin-left: 30px;
    border: 2px solid rgb(207, 19, 66);
    border-radius: 4px;
    width:200px;
   
}

input[type=submit]{
    color:white;
    margin-left: 80px;
    width:100px;
    border: none;
    height: 40px;
    outline:none;
    font-size: 13px;
    background-color: rgb(211, 11, 45);
}
input[type=checkbox]{
    border: 2px solid rgb(207, 19, 66);
    margin-left: 55px;

}
label2{
    color:rgb(206, 12, 44);
    font-size: 15px;
    margin-left: 20px;
    font-style: italic;
}
