body{
    margin:0%;
    padding: 0%;
    
}
.tom
{
    width:1366px;
    height: 60px;
    background:linear-gradient(to right,rgb(253, 16, 16),rgb(66, 218, 19));

}
@media only screen and (min-width: 400px) {
    .tom{
      width: 100%;
      
    }
  }
  .img{
    margin-top: -20px;
    width:100px;
    height:100px;
    border-radius: 50px;
}
a{
    margin-top: 9px;
    margin-right: 20px;
    float:right;
}
input[type=text]{
    margin-left: 30px;
    border: 2px solid rgb(207, 19, 66);
    border-radius: 4px;
    width:240px;
   
}
input[type=submit]{
    color:white;
    margin-left: 80px;
    width:100px;
    border: none;
    height: 40px;
    outline:none;
    font-size: 13px;
    background-color: rgb(255, 22, 61);
}
input[type=submit]{
    color:white;
    margin-left: 80px;
    width:100px;
    border: none;
    height: 40px;
    outline:none;
    font-size: 13px;
    background-color: rgb(67, 23, 109);
}
